body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    
}

.name{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #1e2022;
}

.nav a{
    border: 2px solid rgb(255, 255, 255);
    padding: 7px;
    margin: 10px 4px;
    font-size: 2vh;
    color: #eeeeee;
    min-width: 5vw;
    text-align: center;
    font-family: "calibri";
    text-decoration: none;
    display: inline-block;
}

.nav a:hover{
    transform: scale(1.2,1.2);
    transition: .3s;
    margin: 0 10px;
}

#text {
    list-style: none;
    border-bottom: 0;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive;
    padding-bottom: 5vh;
}

#text li {
    display: inline-block;
    float: left;
    font-weight: 700;
    font-size: 7vw;
    color: #fff;
    opacity: 1;
    transition: all 2.5s ease-in-out;
    transition-delay: .7s;
    max-width: 2em;
}

#text.hidden li.spaced {
    padding-left: 0.5em;
}

#text li.spaced {
    padding-left: 0.5em;
}

#text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
}

h1{
    text-decoration: underline;
}

.about{
    background-color: #27292c;
    font-family: "calibri";
    height: 100vh;
    font-size: 3vh;
    padding-top: 5vh;
    text-align: center;
    color: #eeeeee;
    padding-bottom: 4vh;
}

.summary{
    vertical-align: middle;
    text-align: center;
    padding-top: 13vh;
    padding-right: 20vw;
    padding-left: 20vw;
    line-height: 3vh;
    padding-bottom: 4vh;
    font-size: 2vh;
}   

.desc{
    vertical-align: middle;
    text-align: center;
    padding-top: 5vh;
    padding-right: 3vw;
    padding-left: 3vw;
    line-height: 3vh;
    padding-bottom: 1vh;
    font-size: 2vh;
}  

#projects{
    background-color: #3d3e4b;
    font-family: "calibri";
    height: 10vh;
    font-size: 4vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-align: center;
    color: #ffffff;  

}
#proj{
    background-color: #3d3e4b;
    font-family: "calibri";
    height: 10vh;
    font-size: 4vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-align: center;
    color: #ffffff;  
    
}


.column {
    float: left;
    width: 50%;
    background-color: #586b8f;
    font-family: "calibri";
    text-align: center;
    font-size: 4vh;
    padding-top: 5vh;
    height: 65vh;
    color: #ffffff; 
    
}
  
  /* Clear floats after the columns */
.row {
    content: "";
    clear: both;
}
.row a{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    margin: 20px 4px;
    font-size: 4vh;
    color: #eeeeee;
    min-width: 10vw;
    text-align: center;
    font-family: "calibri";
    text-decoration: none;
    display: inline-block;
}

.row a:hover{
    transform: scale(1.1,1.1);
    transition: .3s;
    margin: 20px 4px;
}

.academics{
    background-color: #2e2e2e;
    font-family: "calibri";
    height: 95vh;
    font-size: 4vh;
    padding-top: 5vh;
    text-align: center;
    color: #eeeeee;
} 

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}