body {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0;
    padding: 0;
    color: #fff;
}

.name{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #1e2022;
}

.nav a{
    border: 2px solid rgb(255, 255, 255);
    padding: 7px;
    margin: 10px 4px;
    font-size: 2vh;
    color: #eeeeee;
    font-family: "calibri";
    text-decoration: none;
    display: inline-block;
}

.nav a:hover{
    transform: scale(1.2,1.2);
    transition: .3s;
    margin: 0 10px;
}

body {
    
    height: 100vh;
}

#text {
    list-style: none;
    border-bottom: 0;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive;
}

#text li {
    display: inline-block;
    float: left;
    font-weight: 700;
    font-size: 7vw;
    color: #fff;
    opacity: 1;
    transition: all 2.5s ease-in-out;
    transition-delay: .7s;
    max-width: 2em;
}

#text.hidden li.spaced {
    padding-left: 0.5em;
}

#text li.spaced {
    padding-left: 0.5em;
}

#text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
}

.about{
    background-color: #393e46;
    font-family: "calibri";
    height: 50vh;
    font-size: 4vh;
    padding: 1vh;
    text-align: center;
    color: #eeeeee;
}
.summary{
    vertical-align: middle;
    text-align: center;
    padding-top: 15vh;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-bottom: 5vw;
    font-size: 2vh;
}   